# The PROJECT_NAME and PACKAGE_NAME can be the same (replacing hyphens with underscores).
# This is the safest and best option.
# Though, you can make them different if you need.

# Will replace "template-project-name" in all the template.
# This is the distribution name, used to `pip install PROJECT_NAME`.
PROJECT_NAME="template-project-name" # Hyphen or underscore as word separator.

# Will replace "template_package_name" in all the template.
# This is the package name used ro `import PACKAGE_NAME`.
PACKAGE_NAME="template_package_name" # Underscore as word separator.

# Will replace "python=3.10", "python3.10", "Python 3.10", and "python>=3.10" in all the template.
# Will be the Python version used in the environment.
# Will be the minimum version of Python supported by the project.
PYTHON_VERSION="3.10"
