services:
  runtime-image: # Base service to build the runtime image.
    image: ${IMAGE_NAME}:runtime
    platform: "linux/amd64"
    build:
      platforms:
        - "linux/amd64"
      context: ../..
      dockerfile: installation/docker-amd64/Dockerfile
      target: runtime
      args:
        BASE_IMAGE: ubuntu:22.04                # Ubuntu: https://hub.docker.com/_/ubuntu
        CURL_IMAGE: curlimages/curl:8.2.1       # https://hub.docker.com/r/curlimages/curl/tags
        GIT_IMAGE: alpine/git:2.40.1            # https://hub.docker.com/r/alpine/git/tags
        CONDA_URL:
          https://github.com/conda-forge/miniforge/releases/download/23.3.1-0/Mambaforge-23.3.1-0-Linux-x86_64.sh
        # https://github.com/conda-forge/miniforge/releases/
        CONDA_INSTALL_PATH: /opt/conda      # Should be the same between stages not to brake linking.
        # https://towardsdatascience.com/conda-essential-concepts-and-tricks-e478ed53b5b#bb7b
        PROJECT_NAME: ${PROJECT_NAME}
        PACKAGE_NAME: ${PACKAGE_NAME}
        GRPID: ${GRPID}
        USRID: ${USRID}
        GRP: ${GRP}
        USR: ${USR}
        PASSWD: ${PASSWD}
        PROJECT_ROOT: ${PROJECT_ROOT}
        PROJECT_DIR: ${PROJECT_DIR}
        DATA_DIR: ${DATA_DIR}
        OUTPUTS_DIR: ${OUTPUTS_DIR}
        WWANDB_DIR: ${WWANDB_DIR}

  dev-image: # Service to build the development image.
    extends:
      service: runtime-image
    image: ${IMAGE_NAME}:dev
    build:
      target: development


  runtime-local-cpu: # Service to run the image locally with CPU only.
    extends:
      service: runtime-image
    tty: true
    stdin_open: true
    volumes:
      - ${LOCAL_PROJECT_DIR}:${PROJECT_DIR}
      - ${LOCAL_DATA_DIR}:${DATA_DIR}
      - ${LOCAL_OUTPUTS_DIR}:${OUTPUTS_DIR}
      - ${LOCAL_WANDB_DIR}:${WWANDB_DIR}
    environment:
      WANDB_API_KEY: ${WANDB_API_KEY}

  dev-local-cpu: # Service to develop locally with CPU only.
    extends:
      service: dev-image
    tty: true
    stdin_open: true
    volumes:
      - ${LOCAL_PROJECT_DIR}:${PROJECT_DIR}
      - ${LOCAL_DATA_DIR}:${DATA_DIR}
      - ${LOCAL_OUTPUTS_DIR}:${OUTPUTS_DIR}
      - ${LOCAL_WANDB_DIR}:${WWANDB_DIR}
    environment:
      WANDB_API_KEY: ${WANDB_API_KEY}


  runtime-local-gpu: # Service to run the image locally with NVIDIA GPU.
    extends:
      service: runtime-local-cpu
    environment:
      NVIDIA_VISIBLE_DEVICES: all # Can be overridden by the user.
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [ gpu ]


  dev-local-gpu: # Service to develop locally with NVIDIA only.
    extends:
      service: dev-local-cpu
    environment:
      NVIDIA_VISIBLE_DEVICES: all # Can be overridden by the user.
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [ gpu ]
